<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @aluno.nome %>
</p>

<p>
  <b>Idade:</b>
  <%= @aluno.idade %>
</p>

<p>
  <b>Sexo:</b>
  <%= @aluno.sexo %>
</p>


<%= link_to 'Edit', edit_aluno_path(@aluno) %> |
<%= link_to 'Back', alunos_path %>
